
/* === PAYMENT === */
.payment-title {
    text-align: center;
    background: white;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.payment-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.payment-options input {
    display: none;
}

.payment-options label {
    text-align: center;
    padding: 12px;
    border-radius: 20px;
    background: rgb(172, 167, 167);
    cursor: pointer;
    opacity: 0.5;
}

.payment-options input:checked+label {
    background: white;
    opacity: 1;
    font-weight: 600;
}